[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
django = "==2.2.10"
rhea = "==0.5.5"
psycopg2-binary = "==2.8.4"
django-cities = "==0.5.0.6"
djangorestframework = "==3.11.0"
markdown = "==3.2"
django-filter = "==2.2.0"

[requires]
python_version = "3.7"
